@* @model Location *@
@{
    ViewBag.Title = "Edit Location";
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<body>
<h4>Edit Location</h4>
<form method="post">
    <label for="name">Name:</label><input type="text" name="name" placeholder="PLC name" value="@Model.name" id="name"/><br/>
    <input type="hidden" name="id" value="@Model.id">
    <input type="submit" name="action" value="Save"/>
    <input type="submit" name="action" value="Delete"/>
</form>
</body>
</html>