@* @model List<Location>? *@

@{
    ViewBag.Title = "Location list";
    Layout = "_Layout";
}
<html>
<body>
<div>
    @if (Model != null)
    {
        <ul>
            @foreach (var location in Model)
            {
                <li>
                    @* <a asp-area="" asp-controller="Location" asp-action="EditLocation" asp-route-id="@location.id">@location.name</a> *@
                </li>
            }
        </ul>
    }
    else
    {
        <h3>No locations now!</h3>
    }
    <a asp-area="" asp-controller="Location" asp-action="AddLocationPage">Add Location </a>
</div>
</body>
</html>