@{
    ViewBag.Title = "Add User";
    Layout = "_Layout";
}

<html>
<body>
<h4>Add User</h4>
<form method="post">
    <input type="text" name="name" placeholder="Name"/><br/>
    <input type="text" name="login" placeholder="Login"/><br/>
    <input type="password" name="passwd" placeholder="Password"/><br/>
    <label>Admin?</label>
    <input type="checkbox" name="admin" value="true"/><br/>
    <input type="submit" value="Add"/>
</form>
</body>
</html>