@{
    Language lang = Locale.Language;
    ViewBag.Title = lang.AddTankTitle;
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<body>
<div>
    <h4>@lang.AddTankLabel</h4>
    <form method="post">
        <label for="name">@lang.AddTankName:</label><input type="text" name="name" id="name"/><br/>
        <label for="desc">@lang.AddTankDescription:</label><input type="text" name="description" id="desc"/><br/>
        <input type="submit" value="@lang.AddTankAddButton"/>
    </form>
</div>
</body>
</html>