<!DOCTYPE html>
@{
    ViewBag.Title = "Add controller";
    Layout = "_Layout";
}
<html>
<head>
    <title>Add controller</title>
</head>
<body>
<div>

    <form method="post">
        <input type="text" name="location" placeholder="PLC location"/><br/>
        <input type="text" name="ip" placeholder="PLC IP address"/><br/>
        <input type="text" name="port" placeholder="PLC port"/><br/>
        <input type="submit" value="Send" placeholder="Add controller"/>
    </form>
</div>
</body>
</html>