@model List<Plc>

@{
    ViewBag.Title = "PLC list";
    Layout = "_Layout";
}
<html>
<head>
    <title>PLC List</title>
</head>
<body>
<div>
    @if (Model != null)
    {
        <ul>
            @foreach (var plc in Model)
            {
                <li>@plc.location (@plc.ip:@plc.port)</li>
            }
        </ul>
    }
    else
    {
        <h3>No plc now!</h3>
    }
</div>
</body>
</html>