@model List<opcUaWebMVC.Models.Database.Plc>?

@{
    ViewBag.Title = "PLC list";
    Layout = "_Layout";
}
<html>
<head>
    <title>PLC List</title>
</head>
<body>
<div>
    @if (Model != null)
    {
        <ul>
            @foreach (var plc in Model)
            {
                <li>
                    <a asp-area="" asp-controller="Plc" asp-action="EditPlc" asp-route-id="@plc.id">@plc.name - @plc.location (@plc.ip:@plc.port)</a>
                </li>
            }
        </ul>
    }
    else
    {
        <h3>No plc now!</h3>
    }
    <a asp-area="" asp-controller="Plc" asp-action="AddPlcPage">Добавить контроллер</a>
</div>
</body>
</html>